<ion-view view-title="Noticias" >
 <ion-nav-bar class="bar-balanced">
     
       <!--<div class="buttons">-->
  <ion-nav-buttons side="left">
    <!--<button class="button icon-right ion-alert button-stable" >Hola, {{username}}</button>-->
        <button class="button icon-left ion-more " ng-click="popover.show($event)" ></button>
    <h5 style="color:white" >Hola, {{username}}   </h5>

<!--         <button class="button button-icon ion-more" >Hola
        </button>-->
  </ion-nav-buttons>
             <ion-nav-buttons side="right">
                 <button class="button icon-left ion-log-out " ng-click="logout()">Cerrar Sesión
        </button> 
    <!--<button class="" ng-click=""></button>-->
  </ion-nav-buttons>
           
           
      <!--</div>-->
     
     
   

</ion-nav-bar>
    
    

  <ion-content class="">
      
     
   <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
    </ion-refresher>
      
  <ion-list>
      
      <noticia-info info="item" ng-repeat="item in items" class="item item-text-wrap item-icon-left  item-icon-right" ></noticia-info>
        
      
      
      
  <ion-infinite-scroll
    on-infinite="loadMore()"
    distance="1%">
  </ion-infinite-scroll>
      
 
  </ion-list>  
      
      
<!--    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      This could be your Dashboard.
      <br><br><br>
      <button class="button button-full button-positive" ng-click="performValidRequest()">
        Make Valid Request
      </button>
      <button class="button button-full button-energized" ng-click="performUnauthorizedRequest()">
        Make Request for unauthorized resource
      </button>
      <button class="button button-full button-assertive" ng-click="performInvalidRequest()">
        Make Request without valid token
      </button>
      <br><br>
      
      <img src="../img/descarga.jpg">
      {{response}}
    </div></div>-->

            <!--<ion-radio class="item" ng-model="choice"  ng-click="CargarMisNoticias()" ng-value="'A'"> </ion-radio>-->


  </ion-content>
</ion-view>

<script id="templates/popover.html" type="text/ng-template">
      <ion-popover-view >
        <ion-content>
          <div class="list">

               <ion-checkbox class="item"   ng-model="checkboxModel.value1" ng-change="CargarMisNoticias()" >Ver mis noticias</ion-checkbox>
            <a class="item" href="http://ionicframework.com/docs/" target="_blank">
              Documentation
            </a>
            <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
              Showcase
            </a>
            <a class="item" href="http://ionicframework.com/submit-issue/" target="_blank">
              Submit an Issue
            </a>
            <a class="item" href="http://kreafast.com" target="_blank">
              Por Kreafast EC
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
    </script>