

      <h2 class="title boldfirst developer">Título: {{info.asunto}}</h2>

  <div class="item item-avatar">
      <img src="img/icono-perfil.png" alt=""/>
    <p class="developer">Usuario: {{ entidad.userid }}</p>
    <p>Fecha: {{info.fecha | date:"dd/mm/yyyy"}}</p>
  </div>

  <div class="item item-body">

            <p class="title boldfirst calm" style="text-align: justify"> {{info.cuerpo }}</p>
      <span class="badge badge-balanced">{{info.mascota.status }}</span>

    <p>
            <div class="row">
                <div class="col" ng-click="editar()" ng-if="id == idlogueado"><button class="button button-light">
      <i class="icon ion-edit"></i>
    </button></div>
  <div class="col" ng-click="borrar()" ng-if="id == idlogueado"  ><button class="button button-light">
      <i class="icon ion-alert"></i>
    </button></div>
  <div class="col" ng-click="mensajes()" ><button class="button button-light">
      <i class="icon ion-more"></i>
    </button></div>


    
  </div>

</div>
   

<!--</div>-->

 

       
      
   
  