/* Empty. Add your own CSS if you like */
.boldfirst:first-letter {
    font-weight: bold;
}

.boldblack{
    color: black;
    font-weight: bold;
}

.bold{
        font-weight: bold;
}

.nomargin{
    margin: auto 0;
    
}
.slider { height: 100%; text-align: center }
.scroll { height: 100% }




  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
  
/*  .fotomascota{
      width: 100px;
      height: 175px;
      
  }*/

.mosaico{

    padding: 0;
    
}

.letrasfonodnegro{
   color: #86d8cf;
}